<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
</head>
<body>
  <div id="root"></div>
  <div id="portal-root"></div>
</body>
</html>
